.game-grid form {
    display: flex;
    flex-direction: row;
}

input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    padding: 1px 2px;
    font-weight: bold;
    font-size: 30px;

    /* Effect to hide cursor */
    color: transparent;
    text-shadow: 0 0 0 white;
}

#first-letter {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db3a34;
}

button#submitWord {
    display: none;
}
