.game-grid form {
    display: flex;
    flex-direction: row;
}

input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;

    /* Effect to hide cursor */
    color: transparent;
    text-shadow: 0 0 0 white;
}

#first-letter {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
}

button#submitWord {
    display: none;
}